[submodule "oauth-https-proxy-client"]
	path = oauth-https-proxy-client
	url = git@github.com:atrawog/oauth-https-proxy-client.git
[submodule "mcp-http-echo-server"]
	path = mcp-http-echo-server
	url = git@github.com:atrawog/mcp-http-echo-server.git