[submodule "mcp-streamablehttp-client"]
	path = mcp-streamablehttp-client
	url = https://github.com/atrawog/mcp-streamablehttp-client
[submodule "mcp-echo-streamablehttp-server-stateful"]
	path = mcp-echo-streamablehttp-server-stateful
	url = https://github.com/atrawog/mcp-echo-streamablehttp-server-stateful.git
[submodule "mcp-echo-streamablehttp-server-stateless"]
	path = mcp-echo-streamablehttp-server-stateless
	url = https://github.com/atrawog/mcp-echo-streamablehttp-server-stateless.git
[submodule "mcp-oauth-dynamicclient"]
	path = mcp-oauth-dynamicclient
	url = https://github.com/atrawog/mcp-oauth-dynamicclient
